<%= form_for @course, html: { multipart: true, id: "fileupload" } do |f| %>
	<div>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.fields_for :course_uploads do |builder| %>
		    <%= render "course_upload", f: builder %>
		<% end %>
	</div>
	<%= f.submit "Create", id: "submit-data" %>
	
	
	<button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
<% end %>

